$light-red: #ee5a5b;

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../assets/LoginBG.png');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    .body {
        text-align: center;
    }

    .text {        
        margin-top: 10px;
        font-size: 30px;
        color: $light-red;
        font-weight: 'bold';
    }
}