.container-main {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;

    .logo {
        width: 70px;
    }

    .navlink-main-container {
        display: flex;
        flex-direction: row;

        .navlink-container {
            position: relative;

            .navlink {
                margin: 0 30px;
                color: rgba(0, 0, 0, 0.486);
                font-weight: bold;
            }

            .navlink:hover,
            .navlinkActive {
                color: black;
            }

            .navlinkActive::after {
                content: "";
                width: 30px;
                height: 4px;
                background: #ee5a5b;
                position: absolute;
                bottom: -4px;
                left: 30px;
                border-radius: 20px;
            }
        }
    }

    .loginLink {
        margin: 0 40px;
        color: black;
        font-weight: bold;
    }

    .signupLink {
        background-color: #ee5a5b;
        padding: 10px 30px;
        border-radius: 20px;
        color: white;
        font-weight: bold;
    }
}