$primary-red: #ee5a5b;

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 120vh;
    height: 100%;
    background-color: white;
}

.top-container {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .top-title {
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
}

.detail-container {
    width: 70%;
    align-self: center;

    .des-title {
        margin: 15px 0;
        font-size: 23px;
        font-weight: 600;
        color: black;
    }

    .des-detail {
        margin: 5px 0;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }

    .des-danger {
        font-size: 20px;
        font-weight: 500;
        color: red;
    }
}