$primary-red: #ee5a5b;
$dark-blue: #074792;

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 120vh;
    height: 100%;
    background-color: white;
}

.top-container {
    width: 90%;
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;

    .profile-left {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .name {
            color: black;
            font-size: 23px;
            font-weight: 600;
            margin: 5px;
        }

        .email {
            color: black;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 20px;
        }

        .status {
            font-size: 20px;
            color: white;
            background-color: $primary-red;
            font-weight: 500;
            padding: 2px 25px;
            border-radius: 20px;
        }

        .red-button {
            font-size: 20px;
            text-decoration: none;
            color: $primary-red;
            font-weight: 300;
        }

        .logoutLink {
            font-size: 20px;
            margin: 10px 40px;
            color: black;
            font-weight: bold;
            background-color: transparent;
            border: 1px solid white;
        }
    }

    .profile-right {
        width: 50%;

        .right-title {
            font-size: 30px;
            font-weight: bold;
            color: black;
        }

        .right-des {
            font-size: 18px;
            color: black;
        }

        .list {
            width: 100%;
            margin: 10px 0;
            box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.14), 0px 3px 3px rgba(0, 0, 0, 0.12), 0px 1px 8px rgba(0, 0, 0, 0.2);
            ;

            .date {
                background-color: $primary-red;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: larger;
                font-weight: 600;
                padding: 5px;
            }

            .name-status {
                background-color: white;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                font-size: large;
                font-weight: 400;
                padding: 5px;

                .name {
                    width: 60%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: left;
                    color: black;
                }

                .status {
                    color: $dark-blue;
                    font-weight: 600;
                    text-align: right;
                }
            }
        }
    }

    .top-title {
        font-size: 30px;
        font-weight: bold;
        color: black;
    }
}

.detail-container {
    width: 70%;
    align-self: center;

    .des-title {
        margin: 15px 0;
        font-size: 23px;
        font-weight: 600;
        color: black;
    }

    .des-detail {
        margin: 5px 0;
        font-size: 20px;
        font-weight: 500;
        color: black;
    }

    .des-danger {
        font-size: 20px;
        font-weight: 500;
        color: red;
    }
}